# dependencies
node_modules/
.pnpm/
.yarn/

# build outputs
.next/
out/
dist/
build/

# env files
.env
*.local
.env*.local

# database
*.db
*.db-journal

# misc & debug
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel
